'.source.axs .source.axi':
  'editor':
    'foldEndPattern': '^\\s*\\}'
    'increaseIndentPattern': '(?x)
       ^ .* \\{ \\s* $
      |^ \\s* if \\s* \\( (?!.*?(\\belse\\b|;\\s*$))
      |^ \\s* \\}? \\s* else \\s*$
      |^ \\s* (for|while) \\s* \\(
      |^ \\s* (switch|select) \\s*:
      |^ \\s* (case|active) \\s*:
      '
    'decreaseIndentPattern': '(?x)
       ^ \\s* ( (?! \\S.* /[*] ) .* [*]/ \\s* )? \\}'
