'.source.axs, .source.axi':
  'editor':
    'commentStart': '(*'
    'commentEnd': '*)'
    'increaseIndentPattern': '^.*(\\{\\}?[^}"\']*|\\([^)"\']*)$'
    'decreaseIndentPattern': '^(.*\\*/)?\\s*\\}[;\\s]*$'
